body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  gap: 40px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

hr {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}
